 * {
     font-family: bona nova;
     color: rebeccapurple;
     font-style: italic;
     font-size: 16px;
     margin: 0%;
     padding: 0%;
 }



 .grid-layout {
     display: grid;
     grid-template-areas: "header header"
         "sidebar contenido"
         "footer footer";
     grid-template-columns: repeat(250px 1fr);
     grid-template-rows: auto 1fr auto;
     gap: 10px;
     min-height: 100vh;

 }

 .body {
     background-color: antiquewhite;
     margin: 0;
     padding: 0;
 }

 .header {
     display: flex;
     grid-area: header;
     padding: 10px;
     margin: 0%;
     justify-content: space-between;
     flex-wrap: wrap;
     background-size: contain;
     background-image: url(./maderaceleste.jpg);
     text-align: center;
     box-shadow: 0 4px 8px rgb(119, 118, 118);
 }

 .logo {
     display: inline-flex;
     box-shadow: 0 4px 8px rgb(119, 118, 118);
     border-radius: 3px;
 }



 .sidebar {

     grid-area: sidebar;
     background-image: url(./rayas\ turquesa\ vintage.jpg);
     flex-direction: column;
     align-items: center;
     background-size: contain;
     padding: 10px;
     gap: 20px;
     box-shadow: 0 4px 8px rgb(119, 118, 118);
 }

 .carousel-inner {
     border-radius: 2px;
     box-shadow: 0 4px 8px rgb(119, 118, 118);
 }


 ul {

     list-style: none;
     padding: 0;
     display: flex;
 }


 .contenido {

     grid-area: contenido;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     background-image: url(./rayas\ turquesa\ vintage.jpg);
     background-size: contain;
     padding: 10px;
     box-shadow: 0 4px 8px rgb(119, 118, 118);


 }

 .footer {
     display: flex;
     grid-area: footer;
     padding: 10px;
     flex-direction: row;
     gap: 20px;
     align-items: center;

     background-image: url(./maderaceleste.jpg);
     background-size: contain;
     box-shadow: 0 4px 8px rgb(119, 118, 118);
 }

 .contacto {
     display: flex;
     flex-direction: column;
 }

 .boton {
     background-color: antiquewhite;
     color: rebeccapurple;
     padding: 10px 20px;
     cursor: pointer;

 }

 .boton:hover {
     background-color: lightsteelblue;
 }




 .flexbox-container {
     display: flex;
     padding: 10px;
     box-shadow: 0 4px 8px rgb(119, 118, 118);
     background-image: url(./rositafondocyan.jpg);
     background-size: auto;

 }

 .flexbox-item {
     background-image: url(./backcream.jpg);
     background-size: cover;
     color: rgb(106, 180, 245);
     padding: 10px;
     flex: 1;
     margin: 10px;
     text-align: center;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgb(119, 118, 118);
 }

 .button {
     background-color: antiquewhite;
     color: rebeccapurple;
     padding: 10px 20px;
     cursor: pointer;
 }

 .button:hover {
     background-color: lightsteelblue;
 }

 .contenedor-cards :hover {
     transform: translateY(-5px);
 }

 @media only screen and(max-width: 768px) {
     .flexbox-container {
         width: 45%;
     }
 }






 /* pantalla mediana */
 @media (max-width: 480px) {
     .flexbox-item {
         width: 100%;
     }

     .header {
         padding: 15px;
     }

     .flexbox-container {
         padding: 10px;
     }






 }

 /* pantalla pequeña */